@import "../../globalStyles/mixins";
@import "../../globalStyles/variables";

.footer {
  flex-shrink: 0;
  width: 100%;
  height: 5vh;
  background-color: whitesmoke;
  @include flexBox(space-between, center);
  padding: 0 20px;
  margin-top: auto;

  a {
    width: max-content;
    text-align: center;
    text-decoration: none;
    color: $lightGrey;
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: capitalize;
    transition: all 300ms ease;
    &:hover {
      color: $accentColor;
      font-weight: 500;
    }
  }

  p {
    color: $lightGrey;
    font-size: 1.1rem;
    font-weight: 300;
  }
}
