/* Main styles */
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    padding: 1px; 
    background-image: url("media/stack-books.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 300px;
}

.main-btn {
    font-family: 'Playfair Display', serif;
    background-color: rgb(103, 185, 218);
    color: white;
    border: none; 
    text-decoration: none;
    padding: 10px;
    font-size: 4.0vh;
    border-radius: 2px;
}

.main-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(76, 171, 209);
}

/* Head of page */
.header {
    text-align: center;
    margin-bottom: 1%;
}
h1 {
    font-size: 8.0vh;
    background-color: rgb(250, 198, 87);
    margin: 1% 0;
}

/* Bookshelf */
#bookshelf > div > img {
    width: 100%;
}

#bookshelf {
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 1% 0 7%;
}

/* Book */
.card {
    width: 20%;
    background-color: white;
    border: 2px solid rgb(103, 185, 218);
    padding: 1%;
    margin: 0 1% 1% 0;
    border-radius: 2px;
}

.container {
    border-top: 1px solid rgb(103, 185, 218);
    padding-top: 2px 16px;
}

h4 {
    font-size: 3.0vh;
    margin: 3% 0 3% 0;
}

p {
    font-size: 2.4vh;
    margin: 2% 0 0 0;
}

#read {
    width: 3.0vw;
    height: 3.0vh;   
}

.remove {
    font-family: sans-serif;
    font-size: 4.0vh;
    text-decoration: none;
    position:absolute; 
    border: none;
    background-color: transparent;
    color: rgb(103, 185, 218);
}

.remove:hover {
    cursor: pointer;
}

/* Form */
.overlay {
    background-color: rgba(0,0,0,0.80);
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.form {
    background-color: rgb(250, 198, 87);
    padding: 30px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.form input {
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.8vh;
}

.form h2 {
    margin: 0;
    font-size: 4.9vh;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}

.form-btn-wrapper {
    text-align: center;
}

/* The  read slider checkbox and labels */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin: 10px 0 0 0;
}

.switch input {
    display: none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(195, 220, 230);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 4px;
  left: 0;
  background-color: rgb(250, 198, 87);
  transition: .4s;
}

.slider-label {
    text-align: center;
    padding-top: 2px;
    color: white;
}

.card input:checked + .slider {
  background-color: rgb(103, 185, 218);
}

.card input:checked + .slider:before {
  transform: translateX(56px);
}