@import "./variables";

@mixin flexBox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin shadedBorders($thickness, $baseColor, $invert: false) {
  @if $invert {
    border-top: $thickness solid darken($baseColor, 20%);
    border-bottom: $thickness solid lighten($baseColor, 10%);
  } @else {
    border-top: $thickness solid lighten($baseColor, 10%);
    border-bottom: $thickness solid darken($baseColor, 20%);
  }
  border-left: $thickness solid darken($baseColor, 10%);
  border-right: $thickness solid darken($baseColor, 10%);
}

@mixin boxShadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin borderRadius(
  $topLeft,
  $topRight: $topLeft,
  $bottomRight: $topLeft,
  $bottomLeft: $topLeft
) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
