@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");

$mainFont: "Raleway", sans-serif;
$nrFont: "Quicksand", sans-serif;
$accentColor: rgb(78, 187, 160);
$darkGrey: rgb(53, 53, 53);
$lightGrey: rgb(143, 147, 153);
$opaqueGrey: rgba(0, 0, 0, 0.8);
$width: 768px;
